<header th:fragment="footer" xmlns:th="">

    <div class="jumbotron">
        <div class="container text-center">
            <h1>Auktion Site</h1>
            <p>Mission, Vission & Values</p>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="/"><img th:src="@{/images/loga.png}" width="100rem" height="50rem"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/seller/add/">Sälj</a>
                    </li>
                    <li class="nav-item"th:if="${adminrole == 'ROLE_ADMIN'}">
                        <a class="nav-link text-light" href="/admin/">Admin sida</a>
                    </li>
                </ul>
                <h5 style="color: white;margin-right: 10px" th:text="'Logged in as: '+${globalLoggedInUser.name}"></h5>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>