<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="/fragments/head" xmlns:th="http://www.w3.org/1999/xhtml"></head>

<body>

<header th:replace="/fragments/header_"></header>

<main>

    <!-- Maincontent här-->
    <div class="container">
        <div class="row">

            <div>
                <button class ="btn" id="button" style="margin-bottom: 10px" th:onclick="'javascript:addAuktion()'">Add Auktion</button>
            <div id="1"  style="display:none;margin-bottom: 10px">
                <form action="/seller/addauktion" method="get">
                    <label for="name" >Name:</label><br>
                    <input type="text" id="name" name="name"><br>
                    <label for="endtime" >Endtime for auktion:</label><br>
                    <input type="text" id="endtime" name="endtime"><br>
                    <label for="startingprice" >Starting price:</label><br>
                    <input type="text" id="startingprice" name="startingprice"><br>
                    <label for="picture" >Picture URL:</label><br>
                    <input type="text" id="picture" name="picture"><br>

                    <textarea rows="4" cols="30" id="description" name="description" style="margin-top: 2%" placeholder="Description"></textarea>
                    </textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
            </div>
            <div class="col-sm-4" th:each="i: ${items}">
                <div class="card" style="width: 20rem;">
                    <img th:src="${i.picture}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <h5 class="card-title" th:text="'Created by: '+${i.user.email}">Card title</h5>
                        <p class="card-text" th:text="${i.description}"></p>
                        <p class="card-text" th:text="'Avslutas: ' + ${i.getFormattedDate}"></p>
                        <span th:if="${i.auctionIsEnded}">Auktionen är aktiv</span>
                        <span th:unless="${i.auctionIsEnded}">Aktionen har utgått</span>

                        <p class="card-text" th:text="'Starting Price: '+${i.startingBid}"></p>


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Update Auktion
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update Auktion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/seller/addauktion" method="get">
                                            <label for="name" >Name:</label><br>
                                            <input type="text" id="name" name="name"><br>
                                            <label for="endtime" >Endtime for auktion:</label><br>
                                            <input type="text" id="endtime" name="endtime"><br>
                                            <label for="startingprice" >Starting price:</label><br>
                                            <input type="text" id="startingprice" name="startingprice"><br>
                                            <label for="picture" >Picture URL:</label><br>
                                            <input type="text" id="picture" name="picture"><br>

                                            <textarea rows="4" cols="30" id="description" name="description" style="margin-top: 2%" placeholder="Description"></textarea>
                                            </textarea>



                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button class="btn btn-primary" type="submit" value="Submit">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>



        </div>
    </div><br><br>
    <!-- Maincontent här-->

</main>

<footer th:replace="/fragments/footer" xmlns:th="http://www.w3.org/1999/xhtml"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>