<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="/fragments/head" xmlns:th="http://www.w3.org/1999/xhtml"></head>

<body>

<header th:replace="/fragments/header_"></header>

<main>

    <!-- Maincontent här-->
    <div class="container">
        <div class="row">

            <div>
                <button class ="btn" id="button" style="margin-bottom: 10px" th:onclick="'javascript:addAuktion()'">Add Auktion</button>
            <div id="1"  style="display:none;margin-bottom: 10px">
                <form action="/seller/addauktion" method="get">
                    <label for="name" >Name:</label><br>
                    <input type="text" id="name" name="name"><br>
                    <label for="endtime" >Endtime for auktion:</label><br>
                    <input type="text" id="endtime" name="endtime"><br>
                    <label for="startingprice" >Starting price:</label><br>
                    <input type="text" id="startingprice" name="startingprice"><br>
                    <label for="picture" >Picture URL:</label><br>
                    <input type="text" id="picture" name="picture"><br><br>
                    <label for="category">Category:</label>
                    <select id="category" name="category">
                        <option th:each="c: ${category}" th:text="${c.title}" th:value="${c.title}"></option>

                    </select>

                    <br>
                    <textarea rows="4" cols="30" id="description" name="description" style="margin-top: 2%" placeholder="Description"></textarea>
                    </textarea>

                    <input type="submit" value="Submit">
                </form>
            </div>
            </div>
            <div class="col-sm-4" th:each="i: ${items}">
                <div class="card mb-4" style="width: 20rem;">
                    <img th:src="${i.picture}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <h5 class="card-title" th:text="'Created by: '+${i.user.email}">Card title</h5>
                        <p class="card-text" th:text="${i.description}"></p>
                        <p class="card-text" th:text="'Avslutas: ' + ${i.getFormattedDate}"></p>
                        <span th:if="${i.auctionHasEnded}" class="alert-danger">Aktionen har utgått</span>
                        <span th:unless="${i.auctionHasEnded}" class="alert-success">Auktionen är aktiv</span>

                        <p class="card-text" th:text="'Starting Price: '+${i.startingBid}"></p>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"style="margin-top: 10px;margin-bottom: 10px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Update Comment
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <form action="/seller/updateitem" method="get" style="margin-left: 10px">
                                    <input type="text" id="id" name="id" th:value="${i.id}" hidden><br>
                                    <label for="name" >Name:</label><br>
                                    <input type="text" id="name" name="name" th:value="${i.name}"><br>

                                    <label for="startingBid" >Starting price:</label><br>
                                    <input type="text" id="startingBid" name="startingBid" th:value="${i.startingBid}"><br>
                                    <label for="picture" >Picture URL:</label><br>
                                    <input type="text" id="picture" name="picture" th:value="${i.picture}"><br>
                                    <label for="category" th:text="'Category: '+${i.category.title}">Category:</label><br>
                                    <select id="category" name="category">
                                        <option th:each="c: ${category}" th:text="${c.title}" th:value="${c.title}"></option>

                                    </select>
                                    <br>
                                    <label for="picture" >Description:</label><br>
                                    <textarea rows="4" cols="30" id="description" name="description" style="margin-top: 2%" th:text="${i.description}"></textarea>
                                    </textarea>

                                    <input type="submit" value="Submit">
                                </form>
                            </div>

                        </div>




                        <a th:href="@{'/seller/delete/' + ${i.id}}"><button type="button" class="btn btn-danger">Delete</button></a>

                    </div>
                </div>
            </div>



        </div>
    </div><br><br>
    <!-- Maincontent här-->

</main>

<footer th:replace="/fragments/footer" xmlns:th="http://www.w3.org/1999/xhtml"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>