<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="/fragments/head" xmlns:th="http://www.w3.org/1999/xhtml"></head>

<body>

<header th:replace="/fragments/header_"></header>

<main>

    <!-- Maincontent här-->
    <div class="container">
        <h2 th:text="${meddelande}"></h2>
        <p th:text="${admin}"></p>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://picsum.photos/seed/picsum/200/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://picsum.photos/seed/picsum/200/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <img src="https://picsum.photos/seed/picsum/200/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br>
    <!-- Maincontent här-->

</main>

<footer th:replace="/fragments/footer" xmlns:th="http://www.w3.org/1999/xhtml"></footer>

</body>
</html>